body{
  background: rgb(0,251,255);
  background: linear-gradient(59deg, rgba(0,251,255,1) 0%, rgba(0,214,219,1) 22%, rgba(214,0,2,1) 100%);
  background-repeat: no-repeat;
  background-attachment: fixed
}